*{
    box-sizing: border-box;
}

body{
    background-image: url(/content/bakgrund/background1.png);
    background-size: 150%;
    background-attachment: fixed;
}

.title{
    display: flex;
    justify-content: center;
    img{
        padding-top: 2%;
        height: 200px;
    }
}

#bakgrund1{
    display: block;
    position: fixed;
    z-index: 0;
    top: -120px;
    img{
        width: 120%;

    }
    
}
#bakgrund2{
    position: fixed;
    z-index: 0;
    top: +150px;
    img{
        width: 120%;

    }
}


.info{
    width: 800px;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    /* flex-wrap: wrap; */
}


.bild{
    width: 200px;
    height: 200px;
    z-index: 1;
    object-fit: contain;
    border: 2px solid aliceblue;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(9, 2, 15, 0.623);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    padding: 1%;
}

.bild2{
    width: 200px;
    height: 200px;
    z-index: 1;
    object-fit: contain;
    border: 2px solid aliceblue;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(9, 2, 15, 0.623);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    padding: 1%;

}

.about{
    flex-grow: 2;
    width: 200px;
    height: 200px;
    z-index: 1;
    object-fit: contain;
    border: 2px solid aliceblue;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(9, 2, 15, 0.623);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    padding: 1%;

}   

.header{
    height: 20px;
    z-index: 1;

}

.home{
    position: fixed;
    bottom: 20px;
    left: 20px;

    img{
        aspect-ratio: 1;
        height: 40px;

    }
}
