@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    background-image: url(/content/background.1920.1080.jpg);
    background-position: -200px 0px;
    background-attachment: fixed;
    font-family: sixtyfour;
    color: rgb(255, 179, 254);
    --bl책: rgb(54, 87, 140);
    /* text-shadow: -2px -2px 0 var(--bl책),-2px 2px 0 var(--bl책),2px 2px 0 var(--bl책); */
}

.main-main-main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.head img{
    margin: 5%;
    height: 150px;
    outline: 2px solid #ff80ff;
    outline-offset: 12px;
}

.main-main{
    background-color: rgb(138, 43, 226, 0.5);
    border-width: 5px;
    border-style: dashed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    text-align: center;

    img{
        height: 100px;
        border-radius: 10%;

    }
}

.side-button{
    margin: 10px;
    padding: 5px;
    background-color: blueviolet;
    font-size: large;
    border-radius: 10px;
    
}

.main-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    width: 10%;
     
    img{
        object-fit: contain;
        outline: none;
    }
}

.intro{
    display: flex;
    flex-direction: row;
    
    img{
        margin: 20px;

    }
    p{
    background-color: rgb(138, 43, 226, 0.5);
    padding: 5px;
    margin: 10px;
    border: #ff80ff;
    border-radius: 10%;
    border-style: dashed;
    }
}

.celeste{
    display: flex;
    flex-direction: row;

}