* {
  background-color: rgb(22, 22, 22);
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;

  justify-content: space-between;
  align-items: center;

  height: 12vh;

  font-size: 100px;

  padding: 0 2% 0 2%;

  outline: white solid 3px;

  img {
    height: 100px;
  }
}

.nobelInfo {
  padding: 10vh 0 0 0;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 90%;
  }
  p {
    text-align: center;
    width: 80%;
  }
}

.nobelLauriets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px;

  .nobelLauriet {
    outline: black solid 2px;

    width: 300px;
    height: 550px;

    img {
      width: 300px;
    }
  }
}
