:root {
  --primary-bg-color: rgb(30, 30, 28);
}

* {
  background-color: var(--primary-bg-color);
  color: rgb(255, 255, 255);

  body {
    box-sizing: border-box;

    header {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      align-items: center;

      padding: 0 2% 0 2%;
      position: sticky;

      top: 0;

      #nobelBigHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 100%;
        border-bottom: 2px solid white;
      }

      #nobelSmallHeader {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;

        ul {
          font-size: 20px;
          list-style: none;
          display: inline;
          width: 50%;
        }

        li {
          display: inline;
        }
        li p {
          display: inline;
          padding-right: 5%;
        }

        img {
          height: 100px;
        }
      }
    }

    #nobelMainWrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;

      #nobelInfo {
        padding: 8vh 0 0 0;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          width: 90%;
          padding-bottom: 5%;
        }

        p {
          font-size: larger;
          text-align: center;
          width: 80%;
          outline: rgb(177, 177, 177) 2px solid;

          padding: 5%;
          word-spacing: 5px;
          line-height: 20px;
        }
      }
      #nobelLauriets {
        display: flex;
        flex-direction: row;

        transition: 200ms;

        gap: 100px;

        .nobelLauriet {
          display: flex;
          flex-direction: row;

          transition: 200ms;

          width: 300px;
          height: 550px;

          .test {
            visibility: hidden;
            width: 100px;
          }

          a {
            height: 200px;
            img {
              width: 300px;
            }
            img:hover {
              transform: scale(1.05);
              transition: 200ms;
            }
          }
        }
        .nobelLauriet:hover {
          width: 700px;
          transition: 200ms;
          .test {
            padding-left: 20px;
            transition: 200ms;
            visibility: visible;
          }
        }
      }
    }
  }
  #nobelLaurietWrapper {
    display: flex;
    justify-content: center;
    height: 75vh;

    #nobelLaurietLeft {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 50vw;

      img {
        height: 55vh;
      }
    }
    #nobelLaurietRight {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50vw;

      p {
        font-size: larger;
      }
    }
  }
}
