@font-face {
  font-family: daydream;
  src: url("Daydream.otf");
}

@font-face {
  font-family: minecraft;
  src: url("Minecraft.ttf");
}

body {
  margin: 0;
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    color: transparent;
    text-align: center;
    font-family: daydream;
    background: linear-gradient(
      90deg,
      #ff80ff 10%,
      #8080ff 25%,
      #ffffff 40%,
      #ffffff 60%,
      #8080ff 75%,
      #ff80ff 90%
    );
    background-size: 200%;
    background-clip: text;
    animation: textanimation 1s linear infinite;
  }
  h2 {
    color: aliceblue;
    text-align: center;
    font-family: daydream;
  }
}

@keyframes textanimation {
    0%{
        background-position: 200% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
