* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Pixelify";
  src: url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-90%, 0, 0);
  }
}

#bakgrund1 {
  background-image: url("../content/background/background2.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 1000%;
  height: 100%;
  opacity: 0.85;
  position: fixed;
  left: -50px;
  top: -100px;
  z-index: -1;
  animation: slide 1000s linear infinite;
}

#bakgrund2 {
  background-image: url("../content/background/background3.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 1000%;
  height: 100%;
  opacity: 1;
  position: fixed;
  left: -50px;
  top: 100px;
  z-index: -1;
  animation: slide 2000s linear infinite;
}

body {
  font-family: Pixelify;
  background-image: url("../content/background/background1.png");
  background-size: 150%;
  background-attachment: fixed;
}

header {
  z-index: 1;
  text-align: center;

  img {
    padding-top: 2%;
    height: 200px;
  }
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50vw;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about {
  /* height: 170px; */
  width: 650px;
  margin-top: 2vh;
  margin-bottom: 2vh;

  text-align: center;

  z-index: 1;

  object-fit: cover;

  border: 2px solid aliceblue;
  border-radius: 5px 5px 5px 5px;

  background-color: rgba(9, 2, 15, 0.623);

  margin: 1%;
  padding: 1%;

  position: relative;

  color: white;

  font-size: 1.1rem;

  h1 {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.bild {
  height: 300px;

  z-index: 1;
  object-fit: contain;

  border: 2px solid aliceblue;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(9, 2, 15, 0.623);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1%;
  padding: 1%;

  img {
    height: 180px;
  }
}

.bildPar {
  width: 100vw;

  position: relative;

  display: flex;
  justify-content: center;
}

#what {
  img {
    position: absolute;

    bottom: 140px;
    right: -30px;

    height: 90%;
  }
}

#berrySpinn {
  position: absolute;

  height: 25%;

  top: -30%;
  left: 10%;

  animation: bob 2s ease-in-out infinite;
}

#about {
  text-align: left;
  position: relative;

  p {
    width: 70%;
  }

  h1 {
    text-align: center;
  }

  img {
    position: absolute;
    right: 10%;
    top: 30%;
    height: 35%;
  }
}

#golden {
  display: flex;
  justify-content: flex-start;
  height: 250px;

  img {
    animation: bob 2s ease-in-out infinite;
    height: 90%;
  }
}

#stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#statSmall {
  height: 100px;
}

#golden .txt {
  width: 70%;
}
#home {
  position: fixed;
  bottom: 20px;
  left: 20px;

  img {
    height: 40px;
  }
}
#heart {
  rotate: -20deg;
  z-index: 1;
  left: 0%;
  height: 30%;
  position: absolute;
}
