* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

:root {
  --main-accent-dark: #aa04c7;
  --main-accent-darker: #5b006e;
  --main-accent-darker-translucent: rgb(91, 0, 110, 0.7);
}

@font-face {
  font-family: win98;
  src: url("content/MSW98UI-Regular.otf");
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  font-family: win98;
  margin: 0;

  color: white;

  .desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 10px 2px 2px 2px;

    width: 100vw;
    height: calc(100vh - 45px);

    .desktopIcon {
      height: 75px;
      width: 75px;

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 32px;
        width: 32px;
      }

      p {
        text-align: center;
        font-size: 8pt;
        line-height: 13px;
        overflow-wrap: break-word;
        max-width: 75px;
        color: rgb(255, 255, 255);
        background-color: var(--main-accent-dark);
      }
    }

    .window {
      background-color: #0f0012;
      color: white;
      height: 300px;
      width: 300px;

      position: absolute;

      display: none;
    }
    .windowContent {
      height: calc(100% - 45px);
    }

    #cristofferWindow .windowContent {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 90%;
        max-width: 90%;
      }
    }

    .topBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      cursor: move;

      height: 30px;
      background-color: var(--main-accent-darker-translucent);

      padding: 2px;

      .windowTitle {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 26px;
          padding-right: 4px;
        }
      }
    }
  }

  .taskbar {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 45px;

    padding: 0 1vw 0 1vw;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--main-accent-darker-translucent);

    .startButton {
      cursor: pointer;
      width: 45px;
      border: none;
      background-color: rgb(0, 0, 0, 0);

      img {
        max-height: 30px;
        max-width: 30px;
      }
    }

    .clock-container {
      color: white;
      position: absolute;
      right: 0;
      margin-right: 10px;
      p {
        margin-top: 14px;
        font-size: 20px;
      }
    }
  }

  .startMenu {
    position: absolute;
    bottom: 28px;

    width: 100px;
    height: 300px;
  }

  .droppDownContent {
    display: none;

    position: absolute;
    left: 40vw;
    bottom: 55px;

    padding: 20px;

    height: 50vh;
    width: 20vw;

    background-color: var(--main-accent-darker-translucent);
    z-index: 1;

    #searchBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        margin-top: 0;
        padding: 0 10px 0 10px;
        width: 50%;
        height: 50px;
        background-color: var(--main-accent-darker);
      }
      input {
        background-color: var(--main-accent-darker);
        border: none;
        color: white;
        width: 100%;
        height: 30px;
        padding-left: 5px;
        font-family: win98;
        outline: none;
        &::placeholder {
          color: grey;
        }
      }
    }
  }
}

.buttonGroup {
  display: flex;
}

.buttonGroup button {
  border: none;
  background-color: transparent;
}
