* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

@font-face {
  font-family: win98;
  src: url("content/MSW98UI-Regular.otf");
}

body {
  background-image: url(content/clouds.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  font-family: win98;
  margin: 0;

  color: white;
  background-color: black;

  .desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 10px 2px 2px 2px;

    .desktopIcon {
      height: 75px;
      width: 75px;

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 32px;
        width: 32px;
      }

      p {
        text-align: center;
        font-size: 8pt;
        line-height: 13px;
        overflow-wrap: break-word;
        max-width: 75px;
        color: rgb(255, 255, 255);
        background-color: rgb(17, 180, 118);
      }
    }
  }

  .taskbar {
    position: fixed;
    bottom: 200px;

    width: 100vw;
    height: 28px;
    padding: 0 1vw 0 1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);

    .startButton {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      width: 100px;

      border: none;

      p {
        margin-left: 6px;
        margin-top: 6px;
        font-family: win98;
        font-size: 14px;
      }
    }

    .clock-container {
      color: black;
      p {
        margin-top: 4px;
        font-size: 20px;
      }
    }
  }

  .droppDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .show {
    display: block;
  }
}
