@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=Sixtyfour+Convergence&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(0deg, #000000 0%, #000000 21%, #ffffff 100%);

    width: 100vw;
    height: 130vh;

    padding-top: -10vh;

    font-size: xx-large;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    p {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  #internetHistoriaMainWrapper {
    background-color: aliceblue;

    .internetsHistoriaBlockLeft {
      display: flex;
      flex-direction: row;

      width: 100%;

      .internetsHistoriaBlockLeftImage {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .internetHistoriaBlockLeftText {
        width: 50%;
      }
    }

    .internetHistoriaBlockRight {
      display: flex;
      flex-direction: row-reverse;
      .internetsHistoriaBlockRightImage {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .internetHistoriaBlockRightText {
        width: 50%;
      }
    }
    #internet1970 {
      font-family: Sixtyfour;
    }
    #internet1960 {
      background-color: black;
      font-family: Sixtyfour Convergence;
    }
  }
}
