@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=Sixtyfour+Convergence&display=swap");

@font-face {
  font-family: monocraft;
  src: url(content/Monocraft-nerd-fonts-patched.ttc) format("truetype"); /* url of the font */
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: white;
  a:link {
    color: rgb(255, 255, 255);
  }

  /* visited link */
  a:visited {
    color: rgb(248, 47, 255);
  }

  /* mouse over link */
  a:hover {
    color: rgb(255, 0, 212);
  }

  /* selected link */
  a:active {
    color: rgb(230, 0, 255);
  }
  header {
    margin-top: 5%;
    text-align: center;
    font-family: Sixtyfour;
  }
  #md {
    h1,
    h2,
    h3 {
      text-align: center;
    }
  }
  #toc {
    position: sticky;
    list-style-type: none;
    font-family: sixtyfour;
    li {
      margin: 5px;
    }

    /* unvisited link */
  }
}
