body {
  color: white;
  background-color: black;

  margin: 0;

  #container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 100vw;
    height: 60vh;
  }

  table {
    border: 2px solid white;
    padding: 20px;
  }
  th {
    border: 2px solid rgb(210, 210, 210);
    padding: 10px 40px;
  }
  td {
    border: 2px solid rgb(210, 210, 210);
    padding: 20px 20px;
  }
}
